<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Prestamos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaPrestamos.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="sidebar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:1.8em; color:black;font-weight:bold;">Sistema Prestamos<hr /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="opcion">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio<br /><br /></a>
                        </li>
                        <li class="opcion">
                            <a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes<br /><br /></a>
                        </li>
                        <li class="opcion">
                            <a asp-area="" asp-controller="Prestamos" asp-action="Index">Préstamos<br /><br /></a>
                        </li>
                        <li class="opcion">
                            <a asp-area="" asp-controller="RecibosCobro" asp-action="Index">Recibos de Cobro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Sistema Prestamos
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .sidebar {
        width: 260px;
        background-color: lightblue;
        color: white;
        padding: 10px;
        height: 100vh; /* ocupa toda la altura */
        position: fixed;
        top: 0;
        left: 0;
    }

    .sidebar ul {
         list-style-type: none;
    }
    .sidebar ul li a{
                color: darkblue;
                font-size: 1.5em;
                text-decoration: none;
    }

    .nav-item {
        color: white;
        font-size: 1.3em;
    }

    .container {
        margin-left: 260px;
        padding: 20px;
        flex-grow: 1;
    }
    hr {
        border-color:lightblue;
        width:1px;
    }
</style>