@{
    ViewData["Title"] = "Inicio";
}

<div class="welcome-section">
    <div class="ctd">
        <div class="ctd-interno">
            <div class="ctd-img-creacimiento">
                <img src="./images/elementos-prestamos.png" class="img-crecimiento" alt="elementos representativos de prestamos" />
            </div>

            <div class="ctd-bienvenida-descripcion">
                <div class="bienvenida-description">
                    <h1>Sistema de Gestión de Préstamos</h1>
                    <p>Tu solución eficiente para administrar clientes, préstamos y recibos de cobro.</p>
                </div>
            </div>
        </div>
    </div>
</div