@model SistemaPrestamos.Models.Prestamo

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MontoPrincipal" class="control-label"></label>
                <input asp-for="MontoPrincipal" type="number" class="form-control" />
                <span asp-validation-for="MontoPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasaInteresAnual" class="control-label"></label>
                <input asp-for="TasaInteresAnual" type="number" class="form-control" />
                <span asp-validation-for="TasaInteresAnual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlazoMeses" class="control-label"></label>
                <input asp-for="PlazoMeses" type="number" class="form-control" />
                <span asp-validation-for="PlazoMeses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrecuenciaPago" class="control-label"></label>
                <select asp-for="FrecuenciaPago" class="form-control">
                    <option value="">-- Seleccione un plazo --</option>
                    <option value="Cedula">Semanal</option>
                    <option value="Pasaporte">Quincenal</option>
                    <option value="Licencia">Mensual</option>
                </select>
                <span asp-validation-for="FrecuenciaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" type="date" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinPrevista" class="control-label"></label>
                <input asp-for="FechaFinPrevista" type="date" class="form-control" />
                <span asp-validation-for="FechaFinPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasaInteresMoraAnual" class="control-label"></label>
                <input asp-for="TasaInteresMoraAnual" type="number" class="form-control" />
                <span asp-validation-for="TasaInteresMoraAnual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="@(ViewBag.EstadoOptions as SelectList)">
                    <option value="">-- Seleccione un Estado --</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoPendiente" class="control-label"></label>
                <input asp-for="SaldoPendiente" type="number" class="form-control" />
                <span asp-validation-for="SaldoPendiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUltimoPago" class="control-label"></label>
                <input asp-for="FechaUltimoPago" type="date" class="form-control" />
                <span asp-validation-for="FechaUltimoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminosAdicionales" class="control-label"></label>
                <input asp-for="TerminosAdicionales" class="form-control" />
                <span asp-validation-for="TerminosAdicionales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">←Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
