@model SistemaPrestamos.Models.ReciboCobro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReciboCobro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReciboCobroId" />
            <div class="form-group">
                <label asp-for="PrestamoId" class="control-label"></label>
                <select asp-for="PrestamoId" class="form-control" asp-items="ViewBag.PrestamoId"></select>
                <span asp-validation-for="PrestamoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoPagado" class="control-label"></label>
                <input asp-for="MontoPagado" class="form-control" />
                <span asp-validation-for="MontoPagado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoCapital" class="control-label"></label>
                <input asp-for="MontoCapital" class="form-control" />
                <span asp-validation-for="MontoCapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoInteres" class="control-label"></label>
                <input asp-for="MontoInteres" class="form-control" />
                <span asp-validation-for="MontoInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoActual" class="control-label"></label>
                <input asp-for="SaldoActual" class="form-control" />
                <span asp-validation-for="SaldoActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTransaccion" class="control-label"></label>
                <input asp-for="NumeroTransaccion" class="form-control" />
                <span asp-validation-for="NumeroTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
