@model SistemaPrestamos.Models.Cliente

@{
    ViewData["Title"] = "Nuevo Cliente";
}

<h1>Registrar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <select asp-for="TipoDocumento" class="form-control">
                    <option value="">-- Seleccione un tipo --</option>
                    <option value="Cedula">Cédula</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Licencia">Licencia</option>
                </select>
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" type="number" maxlength="11" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" type="number" maxlength="5" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoPrincipal" class="control-label"></label>
                <input asp-for="TelefonoPrincipal" type="number" maxlength="10" class="form-control" />
                <span asp-validation-for="TelefonoPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoOpcional" class="control-label"></label>
                <input asp-for="TelefonoOpcional" type="number" maxlength="10" class="form-control" />
                <span asp-validation-for="TelefonoOpcional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocupacion" class="control-label"></label>
                <input asp-for="Ocupacion" class="form-control" />
                <span asp-validation-for="Ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotasAdicionales" class="control-label"></label>
                <input asp-for="NotasAdicionales" class="form-control" />
                <span asp-validation-for="NotasAdicionales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">←Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
